.about-us {
    padding-bottom: 102px;
}

.about-us__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;


}

.about-us__blockquote__text,
.about-us__blockquote__text-item {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;

}

.about-us__blockquote__text-item {
    margin-left: 35px;
}

.about-us__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;

}

.about-us__blockquote__decor {
    font-weight: 900;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    color: #6C0287;
}

.about-us__info {}


.about-us__img {
    float: left;
    width: 600px;
    margin-right: 80px;
}


.about-us__blockquote__author cite {
    float: right;
    font-size: 20px;
    line-height: 28px;
}

.about-us__blockquote__author__img {
    margin-left: 91px;
}