.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.1em;
    z-index: -1;
    text-transform: uppercase;
    position: relative;
    top: -800px;
    margin-top: 146px;
}

.banner__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: #FFFFFF;
    position: relative;
    top: -900px;
    left: 280px;
   

}

.banner__man {
    position: relative;
    left: 490px;
    top: 207px;
    width: 660px;
    height: 762px;
}