.banner {
    padding: 25px 0;

}

.banner__content {
    min-height: 823px;
    position: relative;
}

.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    color: var(--main-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    height: 100%;
    margin: 0;
}

.banner__text {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    color: var(--main-color);
    padding-left: 100px;
}

.banner__content::before {
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    width: 675px;
    height: 762px;
    background-image: url('../img/man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    bottom: 0;
    left: 500px;
}

.banner__text-wrapper {
    display: flex;
    gap: 40px;
    align-items: baseline;
    position: relative;
    top: -550px;
}

.banner__text-violet,
.banner__text-violet-small {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #CD06FF;
    text-align: center;

}

.banner__text-violet-small {
    font-size: 75px;
    line-height: 106px;
    font-variant: all-small-caps;
}

.banner__text-column-one {
    width: 166px;
    height: 174px;
}

.banner__text-column-two {
    width: 166px;
    height: 174px;

}

.banner__text-position {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 150px;

}

.banner__button {
    width: 374px;
    height: 80px;
    background: var(--violet-color);
    border-radius: 10px;
    flex: 1;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--main-color);
    border: none;
}

.banner__button:hover {
    background: #840AA3;
}

.banner__button:active {
    background: #640AA3;
}

.banner__button:focus {
    background: #840AA3;
}

.banner__down-btn {
    display: block;
    position: relative;
    top: 350px;
    left: 160px;
    z-index: 1;
    background-color: transparent;
    border: none;
}


.banner__svg {
    fill: transparent;
    transition: all 0.4s linear;
}

.banner__svg:hover {
    fill: var(--main-color);
    transition: all 0.4s linear;
}

.banner__svg:hover rect {

    fill-opacity: 1;
    fill: var(--violet-color);
    stroke-opacity: 0;
}

.banner__svg:active {
    fill: #CD06FF;
    transition: all 0.4s linear;
}

.banner__svg:active rect {
    fill: var(--main-color);
    stroke-opacity: 0;

}

.banner__down-btn:focus {
    background: transparent;
    color: var(--violet-color);
}

@media all and (max-width:1024px) {
    .banner__title {
        font-size: 120px;
        padding-bottom: 20px;
    }

    .banner__content::before {
        width: 453px;
        height: 520px;
        top: 50px;
        left: 455px;
    }

    .banner__text {
        font-size: 22px;
        line-height: 30px;
    }

    .banner__down-btn {
        top: 250px;
        left: 4px;
    }

    .banner__down-btn svg {
        width: 67px;
    }

    .banner__text-violet {
        font-weight: 900;
        font-size: 80px;
        line-height: 113px;
    }

    .banner__text-position {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 80px;
    }

    .banner__content {
        min-height: 450px;
    }

    .banner__text-wrapper {
        top: -246px;
    }

    .banner__button {
        width: 296px;
        height: 64px;
        font-size: 22px;
        line-height: 30px;
    }
}

@media all and (max-width:768px) {
    .banner__title {
        font-size: 86px;
        padding-bottom: 20px;
    }

    .banner__content::before {
        width: 409px;
        height: 479px;
        top: 50px;
        left: 290px;
    }

    .banner__text {
        font-size: 18px;
        line-height: 24px;
    }

    .banner__down-btn {
        display: none;
    }

    .banner__down-btn svg {
        width: 67px;
    }

    .banner__text-violet,
    .banner__text-violet-small {
        font-size: 50px;
        line-height: 71px;
    }

    .banner__text-position {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 100px;
    }

    .banner__content {
        min-height: 415px;
    }

    .banner__text-wrapper {
        top: -246px;
    }

    .banner__button {
        width: 214px;
        height: 46px;
        font-size: 16px;
        line-height: 24px;
    }

    .banner__text-wrapper {
        gap: 30px;
        width: 40%;
    }
}

@media all and (max-width:420px) {
    .banner__title {
        font-size: 45px;
        padding-bottom: 6px;
        letter-spacing: -0.08em;
    }

    .banner__content::before {
        width: 161px;
        height: 179px;
        top: 20px;
        left: 186px;
    }

    .banner__text {
        font-size: 14px;
        line-height: 16px;
        padding-left: 10px;
    }

    .banner__down-btn {
        display: none;
    }

    .banner__down-btn svg {
        width: 67px;
    }

    .banner__text-violet,
    .banner__text-violet-small {
        font-size: 26px;
        line-height: 37px;
        width: 65px;
    }

    .banner__text-position {
        font-size: 10px;
        line-height: 11px;
        margin-bottom: 30px;
        width: 65px;
    }

    .banner__content {
        min-height: 50px;
    }

    .banner__button {
        width: 140px;
        height: 30px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 4px;
    }

    .banner__text-wrapper {
        gap: 20px;
        top: 10px;
    }

    .banner__text-column-one {
        width: 60px;
    }
}