.contacts {
    padding-bottom: 50px;
}

.contacts__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.contacts__icon,
.contacts__icon-location {
    width: 26px;
    height: 28px;
}

.contacts__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 60px;
}

.contacts__text:hover {
    color: #CD06FF;
    transition: all 0.4s linear;
}

.contacts__phone,
.contacts__mail {
    margin-left: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.contacts__phone:hover,
.contacts__mail:hover {
    color: #CD06FF;
    transition: all 0.4s linear;
}

.contacts__icon-location {
    position: relative;
    top: 50px;

}


.contacts__social {
    display: flex;
    gap: 27px;
    padding-top: 35px;
}


path {
    fill: var(--main-color);
    transition: all 0.4s linear;
}

.icon:hover path,
.icon:focus path {
    fill-opacity: 1;
    fill: #EADEED;
    stroke-opacity: 0;
}



.icon:active path {
    fill-opacity: 1;
    fill: #CD06FF;
    stroke-opacity: 0;
}