.contacts {
    padding-bottom: 20px;
}

.contacts__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.contacts__icon,
.contacts__icon-location {
    width: 26px;
    height: 28px;
}

.contacts__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 60px;
}

.contacts__text:hover {
    color: #CD06FF;
    transition: all 0.4s linear;
}

.contacts__phone,
.contacts__mail {
    margin-left: 26px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.contacts__phone:hover,
.contacts__mail:hover {
    color: #CD06FF;
    transition: all 0.4s linear;
}

.contacts__icon-location {
    position: relative;
    top: 50px;

}


.contacts__social {
    display: flex;
    gap: 27px;
    padding-top: 35px;
}


path {
    fill: var(--main-color);
    transition: all 0.4s linear;
}

.icon:hover path,
.icon:focus path {
    fill-opacity: 1;
    fill: #EADEED;
    stroke-opacity: 0;
}



.icon:active path {
    fill-opacity: 1;
    fill: #CD06FF;
    stroke-opacity: 0;
}

.contacts__block {
    display: flex;
    justify-content: space-between;
}

.contacts__copyright {
    padding-top: 145px;
    display: flex;
    justify-content: space-between;
}



@media all and (max-width:1024px) {
    .contacts__title {
        font-size: 30px;
        line-height: 40px;
    }



    .contacts__img {
        object-fit: cover;
        width: 542px;
        height: 274px;
    }
}

@media all and (max-width:768px) {
    .contacts__title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 36px;
    }

    .contacts__img {
        object-fit: cover;
        width: 400px;
        height: 200px;
    }

    .contacts__block {
        flex-direction: column;
        align-items: center;
    }

    .contacts__social {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .contacts__img {

        width: 688px;
        height: 337px;
    }

    .contacts__phone-wrap {
        padding-bottom: 27px;
    }

    .contacts__copyright {
        padding-top: 75px;
    }

    .contacts__mail,
    .contacts__phone,
    .contacts__text {
        font-size: 24px;
        line-height: 28px;
    }
}

@media all and (max-width:420px) {


    .contacts__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .contacts__img {

        width: 280px;
        height: 194px;
    }

    .contacts__mail,
    .contacts__phone,
    .contacts__text {
        font-size: 14px;
        line-height: 18px;
    }

    .contacts__phone-wrap {
        padding-bottom: 10px;
    }
    .contacts__copyright{
        flex-direction: column;
        align-items: center;
        gap: 19px;
    }
}