.faq {
    padding-bottom: 100px;
}

.faq__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.faq__list__item {
    background-color: var(--main-color);
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none;
}


.faq__list__item:nth-last-child(1) {
    margin: 0;
}


.faq__list__item_violet {
    background-color: #440F51;
    color: var(--main-color);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none;

}

.faq__button {
    position: relative;
    top: -10px;
    float: right;
    height: 46px;
    width: 46px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 200ms linear, color 200ms linear;
}

.faq__button::after {
    content: "+";
    display: block;
    font-size: 28px;
}

.faq__list__item .faq__button {
    border-color: var(--violet-color);
    color: var(--violet-color);
}

.faq__list__item_violet .faq__button {
    border-color: var(--main-color);
    color: var(--main-color);
}

.faq__list__item_violet:hover .faq__button {
    background-color: var(--main-color);
    color: var(--violet-color);
}

.faq__list__item_violet .faq__button:active {
    background-color: transparent;
    color: var(--main-color);
}

.faq__list__item:hover .faq__button {
    background-color: var(--violet-color);
    color: var(--main-color);
}

.faq__list__item .faq__button:active {
    background-color: transparent;
    color: var(--violet-color);
}

.faq__button:active:after {
    content: "―";
}