.reviews {
    padding: 50px 0;
}


.reviews__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.reviews__img {
    float: left;
    width: 280px;
    height: 280px;
    border-radius: 250px;
    object-fit: cover;
    margin-right: 20px;
}

.reviews__pic-name {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}

.reviews__block {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}

.reviews__block::before {
    content: "";
    display: block;
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 250px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    top: 0px;
    left: 440px;
}

.reviews__text {

    font-size: 20px;
    line-height: 28px;
    padding-bottom: 150px;
    text-align: center;

}

.reviews__clear {
    font-size: 20px;
    line-height: 28px;
}

.button-left {
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/left-btn.svg') center / contain no-repeat;
    z-index: 2;
    border: none;
    cursor: pointer;
}

.button-right{
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/right-btn.svg') center / contain no-repeat;
    z-index: 2;
    border: none;
    cursor: pointer;
}

/*
.reviews__clear {
    font-size: 20px;
    line-height: 28px;
    padding-top: 11px;
    margin-bottom: 50px;
    margin-left: 60px;
    clear: left;
}*/

@media all and (max-width:1024px) {
    .reviews__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
    }

    .reviews__img,
    .reviews__block::before {
        width: 172px;
        height: 172px;
        top: 0px;
    }

    .reviews__text {
        width: 515px;
        height: 105px;
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 200px;
    }

    .reviews__clear {
        font-size: 18px;
        line-height: 26px;
    }
}

@media all and (max-width:768px) {
    .reviews__title {
        font-size: 24px;
        line-height: 36px;
    }

    .reviews__img,
    .reviews__block::before {
        width: 153px;
        height: 153px;
    }

    .reviews__text {
        width: 400px;
        font-size: 16px;
        line-height: 22px;
    }

    .reviews__clear {
        font-size: 16px;
        line-height: 22px;
    }
}

@media all and (max-width:420px) {
    .reviews__title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    .reviews__block {
        flex-direction: column;
        gap: 0;
    }

    .reviews__text {
        width: 280px;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 10px;
    }

    .reviews__pic-name {
        padding-bottom: 16px;
        row-gap: 9px;
    }

    .reviews__img,
    .reviews__block::before {
        width: 86px;
        height: 86px;
        margin-right: 0;
    }

    .reviews__clear {
        font-size: 12px;
        line-height: 16px;
    }

    .reviews {
        padding: 0 0 30px 0;
    }
}