.reviews {
    padding: 50px 0;
}


.reviews__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.reviews__img {
    float: left;
    width: 280px;
    height: 280px;
    border-radius: 250px;
    object-fit: cover;

    margin-right: 20px;

}

.reviews__text {
    font-size: 20px;
    line-height: 28px;
}


.reviews__clear {
    margin-top: 11px;
    margin-bottom: 50px;
    margin-left: 60px;
    clear: left;


}