.room-describe {
    padding: 50px 0;
}

.room-describe__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.room-describe__wrapper {
    display: flex;
    justify-content: space-between;
}

.room-describe__img {
    width: 600px;
    height: 424px;
}

.room-describe__text-block {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-describe__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.room-describe__text_pad {
    padding-bottom: 20px;
}

@media all and (max-width:1024px) {
    .room-describe {
        padding: 35px 0;
    }

    .room-describe__title {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 36px;
    }

    .room-describe__img {
        width: 461px;
        height: 326px;
    }

    .room-describe__text-block {
        width: 413px;
    }

    .room-describe__text {
        font-size: 18px;
        line-height: 28px;
    }
}

@media all and (max-width:768px) {
    .room-describe {
        padding: 30px 0;
    }

    .room-describe__title {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 30px;
    }

    .room-describe__img {
        width: 329px;
        height: 326px;
        object-fit: cover;
    }

    .room-describe__text-block {
        width: 313px;
    }

    .room-describe__text {
        font-size: 16px;
        line-height: 28px;
    }
}

@media all and (max-width:420px) {
    .room-describe {
        padding: 15px 0;
    }

    .room-describe__title {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 15px;
    }

    .room-describe__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .room-describe__text {
        font-size: 12px;
        line-height: 16px;
    }

    .room-describe__img {
        width: 280px;
        height: 180px;
        object-fit: cover;
    }
    .room-describe__text-block{
        width: 280px;
        align-items: center;
        padding-top: 15px;
    }
}