.rooms {
    padding-top: 25px;
    padding-bottom: 100px;
}

.rooms__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rooms__block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.rooms__item {

    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;

}

.rooms__item__link {
    position: relative;
    top: 150px;
}




.rooms__item_vibes {

    width: 580px;
    height: 349px;
    background-image: url('../img/80_vibes.jpg');
    background-position: center;
    background-size: cover;

}


.rooms__item_wars {

    width: 580px;
    height: 349px;
    background-image: url('../img/Star_wars.jpg');
    background-position: center;
    background-size: cover;

}


.rooms__item_west {

    width: 580px;
    height: 349px;
    background-image: url('../img/wild_west.jpg');
    background-position: center;
    background-size: cover;
}

.rooms__item_neon {
    width: 580px;
    height: 349px;
    background-image: url('../img/neon_style.jpg');
    background-position: center;
    background-size: cover;
}

@media all and (max-width:1024px) {
    .rooms__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 36px;
    }

    .rooms__item {
        font-size: 50px;
        line-height: 60px;
    }

    .rooms__item_neon,
    .rooms__item_vibes,
    .rooms__item_wars,
    .rooms__item_west {
        width: 443px;
        height: 267px;
    }

    .rooms__item__link {
        top: 100px;
    }

}

@media all and (max-width:768px) {

    .rooms__title {
        font-size: 24px;
        line-height: 36px;
    }

    .rooms__item_neon,
    .rooms__item_vibes,
    .rooms__item_wars,
    .rooms__item_west {
        width: 335px;
        height: 200px;
    }

    .rooms {
        padding-bottom: 60px;
    }

    .rooms__item {
        font-size: 40px;
        line-height: 50px;
    }
.rooms__item__link{
    top: 80px;
}
}

@media all and (max-width:420px) {}