* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-weight: 100, 400, 500, 700;
}

body {
    background-color: #1B1A1B;
    color: #FFFFFF;
}

.wrapper {
    width: 1200px;
    padding: 30px;
    margin: 0 auto;
}


.header,
#rest {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}