.west {
    padding-bottom: 50px;
}

.west-banner {
    padding-top: 20px;
    background-image: url('../img/west_banner.jpg');
    background-size: cover;
    height: 750px;
    overflow: hidden;
}

.west-banner__text {
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
    top: 335px;
}



.west__descrip-block {
    display: flex;
    justify-content: center;
}

.west__description {
    padding-top: 100px;
    width: 1000px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

}


@media all and (max-width:1024px) {
    .west-banner {
        height: 534px;
    }

    .west-banner__text {
        font-size: 90px;
        line-height: 80px;
        top: 200px;
    }

    .west__description {
        padding-top: 70px;
        width: 800px;
        font-size: 20px;
        line-height: 150%;
    }

    .west {
        padding-bottom: 35px;
    }
}


@media all and (max-width:768px) {
    .west {
        padding-bottom: 30px;
    }

    .west-banner {
        height: 402px;
    }

    .west-banner__text {
        font-size: 60px;
        line-height: 120%;
        top: 140px;
    }

    .west__description {
        padding-top: 60px;
        width: 688px;
        font-size: 16px;
        line-height: 150%;
    }
}

@media all and (max-width:420px) {
    .west {
        padding-bottom: 15px;
    }

    .west-banner {
        height: 168px;
    }

    .west-banner__text {
        font-size: 30px;
        line-height: 120%;
        top: 65px;
    }

    .west__description {
        width: 280px;
        padding-top: 30px;
        font-size: 16px;
        line-height: 150%;
    }
}